{% extends 'base.html.twig' %}

{% block title %}Liste station | {{ parent() }}{% endblock %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
{% endblock %}